<div class="product-card">
    <img src="{{ asset('images/clothes/' ~ (product.imageFilename|default('default.jpg'))) }}"
     alt="{{ product.name|default('Produit') }}"

    <h3>{{ product.name|default('Produit') }}</h3>
    <p>{{ product.price|default('0') }} €</p>

    {% if app.user %}
        <a href="{{ path('app_product_show', {'id': product.id|default(0)}) }}" class="btn-view">
            Voir
        </a>
    {% endif %}
</div>
