{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1>Inscription</h1>

	{# Affichage des messages flash #}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-{{ label }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	{# Formulaire d'inscription #}
	{{ form_start(registrationForm) }}

	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.name) }}
	{{ form_row(registrationForm.deliveryAddress) }}
	{{ form_row(registrationForm.plainPassword.first) }}
	{{ form_row(registrationForm.plainPassword.second) }}

	<button type="submit">S’inscrire</button>

	{{ form_end(registrationForm) }}

	{# Lien vers la page de connexion #}
	<p>Déjà inscrit ?
		<a href="{{ path('app_login') }}">Connectez-vous</a>
	</p>

{% endblock %}
