<h1>Liste des produits</h1>

<form method="get" action="{{ path('app_product') }}">
	<label>Prix min :</label>
	<input type="number" step="0.01" name="min_price" value="{{ minPrice }}"/>

	<label>Prix max :</label>
	<input type="number" step="0.01" name="max_price" value="{{ maxPrice }}"/>

	<button type="submit">Filtrer</button>
</form>

<ul>
	{% for product in products %}
		<li>
			{{ product.name }}
			-
			{{ product.price }}
			€
			<a href="{{ path('app_product_show', {'id': product.id}) }}">Voir</a>
		</li>
	{% else %}
		<li>Aucun produit trouvé</li>
	{% endfor %}
</ul>
