{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
	- Détails
{% endblock %}

{% block body %}
	<h1>{{ product.name }}</h1>
	<p>Prix :
		{{ product.price }}
		€</p>
	<p>Description :
		{{ product.description }}</p>

	<a href="{{ path('app_product') }}">Retour à la boutique</a>
{% endblock %}
