<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Mon site
			{% endblock %}
		</title>
		<style>
			a.active {
				font-weight: bold;
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a href="{{ path('app_home') }}" class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}">
						Accueil
					</a>
				</li>

				{% if app.user %}
					<li>
						<a href="{{ path('app_shop') }}" class="{{ app.request.attributes.get('_route') starts with 'app_shop' ? 'active' : '' }}">
							Boutique
						</a>
					</li>
					<li>
						<a href="{{ path('app_cart') }}" class="{{ app.request.attributes.get('_route') starts with 'app_cart' ? 'active' : '' }}">
							Panier
						</a>
					</li>
					<li>
						<a href="{{ path('app_logout') }}">
							Se déconnecter
						</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('app_register') }}" class="{{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}">
							S’inscrire
						</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}" class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">
							Se connecter
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>

		{% block body %}{% endblock %}
	</body>
</html>
